.fav_button {
    width: 200px;
    height: 40px;
    background-color: #ACC277;
    border-radius: 2px;
    align-items: center;
    margin: 20px;

}

.fav_container {
    display: flex;
    justify-content: center; 
}