.card_component {
    border-color: #ACC277;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
    height: 48vh;
    text-align: center;
}

.card_title{
    font-size: larger;
    font-weight: 500;
    margin: 10px auto;
}

.card_photo{
    width: 200px;
    height: 175px;
    margin: 10px auto;
}

.card_button{
    width: 100px;
    height: auto;
    min-height: 30px;
    background-color: #ACC277;
    border-radius: 2px;
    align-items: center;
    margin: 5px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.btn_container {
    display: flex;
    justify-content: center; 
}
