.search_input {
    width: auto;
    min-width: 35%;
    height: auto;
    min-height: 35px;
    border-radius: 2px;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.search_checkbox {
    width: 30px;
    transition: transform 0.3s ease;
}

.search_label {
    font-weight: 400;
    font-size: medium;
}

.search_input_container {
    display: flex;
    justify-content: space-between;
}

.search_button{
    width: auto;
    min-width: 35%;
    height: auto;
    min-height: 30px;
    background-color: #ACC277;
    border-radius: 3px;
    margin: 5px;
    transition: transform 0.3s ease;
}

button:hover, .search_checkbox:hover, .search_input:hover {
    transform: scale(1.15);
}